@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.header {
  display: flex;
  align-items: center;

  max-width: 300px;
  gap: 0.125rem;
  gap: 10px;

  background-color: #fff;
  font-family: "Inter", sans-serif;
}

.main {
  font-family: "Inter", sans-serif;
  position: relative;
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 60px; /* Отступ снизу, чтобы текст не перекрывал контент */
}

.footerText {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  font-weight: 300;
  color: #909090;
  width: 200px;
  text-align: center;
}
.oldPrice {
  font-size: 26px;
  color: #cecece;
  text-decoration: line-through;
}
.logotext {
  color: rgba(30, 227, 0, 1);
  font-weight: 900;
  font-style: italic;
}
.price {
  display: flex;
  gap: 0.9375rem;
  font-size: 2rem;
  height: 100px;

  justify-content: flex-start;

  align-items: baseline;
  border-bottom: 0.0625rem solid #a0a0a0;
  font-family: "Inter", sans-serif;
}

button {
  display: block;
  width: 100%;
  margin: 0.625rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

/* Стили для кнопки Apple Pay */
.applePayButton {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.applePayButton:hover {
  background-color: #222;
}
.payButton {
  background: linear-gradient(
    96.08deg,
    rgba(153, 248, 141, 0.62) 7.23%,
    rgba(134, 231, 31, 0.83) 109.83%
  );
  width: 90%;
  margin: 0 auto;
  color: #000;
  border: none;
  border: none;
  border-radius: 15px;
  padding: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: background-color 0.3s;
}
.openPay {
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  border-left: none;
  border-right: none;
  background: none;
  text-align: left;
  padding: 20px 40px;
  position: relative;
}
.openPay::before {
  content: url("../../img/cards.svg"); /* Путь к иконке */
  position: absolute;
  top: 45%; /* Центрируем по вертикали */
  transform: translateY(-50%); /* Смещаем на половину высоты иконки вверх */
  left: 0px;
  width: 16px;
  height: 16px;
  pointer-events: none; /* Чтобы иконка не мешала клику */
  display: block;
}
.openPay::after {
  content: url("../../img/right.png"); /* вставь путь к иконке */
  position: absolute;
  top: 45%; /* Центрируем по вертикали */
  transform: translateY(-50%);
  right: 10px;
  width: 16px;
  height: 16px;
  pointer-events: none; /* чтобы иконка не мешала клику */
  display: block;
}

.payButton:hover {
}
.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  touch-action: none;
}

.modalContent {
  background: #fff;
  width: 100%;
  max-width: 600px;
  border-top-left-radius: 16px;
  height: 400px;
  border-top-right-radius: 16px;
  padding: 20px;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  touch-action: pan-y;
}

.dragHandle {
  width: 80px;
  height: 6px;
  background: #ccc;
  border-radius: 3px;
  margin: 0 auto 10px auto;
}
.input {
  background-color: white; /* обязательно белый фон для поля */
  color: #3a3a3a; /* цвет текста */
  border-radius: 12px;
  height: 23px;
  padding: 12px;
  margin-bottom: 12px;
  font-size: 30px; /* для уверенности */
}
.container {
  padding: 2px 0;
  border-radius: 16px;
  margin: 0 auto;
  height: 320px;
  width: 100%;
  background-color: #f5f5f5;
  /* или max-width, если нужно */
}
.containerInputs {
  margin: 0 auto;
  width: 90%;
  background-color: transparent;
  /* или max-width, если нужно */
}
.inputHalf {
  background-color: white;
  color: black;
  border-radius: 12px;
  padding: 12px;
  height: 23px;
}
.inputCvv {
  background-color: white;
  color: black;
  border-radius: 12px;
  padding: 12px;
  position: relative;
  height: 23px;
}
.inputCvv::after {
  content: url("../../img/Icon.svg"); /* вставь путь к иконке */
  position: absolute;
  right: 15px;
  top: 15px;
  width: 16px;
  height: 16px;
  pointer-events: none; /* чтобы иконка не мешала клику */
  display: block;
}

.rowInputs {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.inputName {
  border: none;
  height: 23px;
  padding: 12px 0 12px 12px;
  width: 96%;
  font-size: 16px;
  margin-bottom: 12px;
  border-radius: 12px;
}
.debitWrapper {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Центрирует спиннер по вертикали на весь экран */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  z-index: 1000;
}
